<div class="row mt-5">
  <!-- class="col-12 col-md-4 m-auto" -->
  <mat-card class="col-12">
    <mat-card-header>
      <mat-card-title>SITE WORDS</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row justify-content-around">
        <div class="col-12 col-md-6">
          <app-words-table [words]="words"></app-words-table>
        </div>
        <div class="col-12 col-md-6">
          <app-words-graph [words]="words"></app-words-graph>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
