<div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" class="text-center">
      <!-- Word Column -->
      <ng-container matColumnDef="word">
        <th mat-header-cell *matHeaderCellDef>Word</th>
        <td mat-cell *matCellDef="let word">{{ word.word }}</td>
      </ng-container>

      <!-- Count Column -->
      <ng-container matColumnDef="count">
        <th mat-header-cell *matHeaderCellDef>Count</th>
        <td mat-cell *matCellDef="let word">{{ word.count }}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>

    <mat-paginator
      [pageSizeOptions]="[10, 20, 50]"
      showFirstLastButtons
    ></mat-paginator>
  </div>
