<form [formGroup]="websiteForm" (ngSubmit)="onSubmit()">
  <mat-form-field appearance="outline" class="col-9 col-md-11">
    <mat-label>Enter url to craw</mat-label>
    <input matInput placeholder="http://example.com" formControlName="url" class="long-button">
    <mat-error *ngIf="websiteForm.invalid">required</mat-error>
  </mat-form-field>
  <button type="submit" mat-raised-button class="offset-1 col-3 col-md-1" color="primary" [disabled]="loading">
      CRAW
  </button>
</form>

<div *ngIf="loading" class="d-flex justify-content-center">
    <mat-spinner></mat-spinner>
</div>

<div *ngIf="error != null" class="d-flex justify-content-center error">
    {{error}}
</div>
