<mat-card>
  <mat-card-header>
    <mat-card-title>SITE IMAGES</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <ng-container *ngIf="images.length > 0; else elseTemplate">
      <ngu-carousel
        #myCarousel
        [inputs]="carouselTileConfig"
        [dataSource]="images"
      >
        <ngu-tile *nguCarouselDef="let item; let i = index; let ani = animate">
          <div class="tile" [style.background]="'url(' + item + ')'"></div>
        </ngu-tile>
      </ngu-carousel>
    </ng-container>
    <ng-template #elseTemplate> No Images </ng-template>
  </mat-card-content>
</mat-card>
